### 1.5.6 Testing

In [ ]:
# Assertion

In [ ]:
# doctest

## 2.3 Sequence

### 2.3.1 List

In [ ]:
digits = [1,8,2,8] # a list is a sequence that have arbitrary length
len(digits) # built-in function

4

In [3]:
digits[3] # element selection

8

In [ ]:
[2,7] + digits * 2 # lists can be added together and multiplied by integers.

[2, 7, 1, 8, 2, 8, 1, 8, 2, 8]

In [ ]:
pairs = [[10,20],[30,40]] # any values can be included in a list, including another list

### 2.3.2 Sequence iteration

In [ ]:
def count(s, value):
    """compute the number of occurrences of value in sequence s"""

### 2.3.6 Tree

A tree has a root label and a sequence of branches. Each branch of a tree is a tree. A tree with no branches is called a leaf. Any tree contained within a tree is called a sub-tree of that tree (such as a branch of a branch). The root of each sub-tree of a tree is called a node in that tree.

The data abstraction for a tree consists of the constructor `tree` and the selectors `label` and `branches`. We begin with a simplified version.

In [20]:
def tree(root_label, branches=[]):
    for branch in branches:
        assert is_tree(branch), 'branches must be trees'  
        # A tree is well-formed only if it has a root label and all branches are also trees. 
        # The is_tree function is applied in the tree constructor to verify that all branches are well-formed.
    return [root_label] + list(branches)

def label(tree):
    return tree[0]

def branches(tree):
    return tree[1:]

def is_tree(tree):
    if type(tree) != list or len(tree) < 1:
        return False
    for branch in branches(tree):
        if not is_tree(branch): # recursively, from root to branch
            return False
    return True

def is_leaf(tree):
    return not branches(tree)

In [3]:
t = tree(3, [tree(1), tree(2, [tree(1), tree(1)])])
t

[3, [1], [2, [1], [1]]]

In [4]:
label(t)

3

In [5]:
branches(t)

[[1], [2, [1], [1]]]

In [6]:
branches(t)[1]

[2, [1], [1]]

In [ ]:
not branches(t)[1] # Non-empty list's boolean value: True

False

In [7]:
is_leaf(branches(t)[1])

False

In [ ]:
# tree recursive functions can be used to construct trees
# fib tree
def fib_tree(n):
    if n == 0 or n == 1:
        return tree(n)
    else:
        left, right = fib_tree(n-2), fib_tree(n-1)
        fib_n = label(left) + label(right)
        return tree(fib_n, [left,right])
    
fib_tree(5)

[5, [2, [1], [1, [0], [1]]], [3, [1, [0], [1]], [2, [1], [1, [0], [1]]]]]

In [12]:
branches(fib_tree(5))

[[2, [1], [1, [0], [1]]], [3, [1, [0], [1]], [2, [1], [1, [0], [1]]]]]

In [13]:
def count_leaves(tree):
    if is_leaf(tree):
        return 1
    else:
        num_list = []
        for branch in branches(tree):
            num_list.append(count_leaves(branch))
        return sum(num_list)
    
count_leaves(fib_tree(5))

8

Slicing can be used on the branches of a tree as well. For example, we may want to place a restriction on the number of branches in a tree. A binary tree is either a leaf or a sequence of at most two binary trees. A common tree transformation called binarization computes a binary tree from an original tree by grouping together adjacent branches.

In [28]:
#binarization
def right_binarize(tree):
    #construct a right-branching binary tree
    if type(tree) != list: # if the tree is a leaf(int number), and if we use is_leaf(tree), there is a type error, int[1:] not exists. 
        return tree  
    if len(tree) > 2:
        tree = [tree[0], tree[1:]]
    return [right_binarize(b) for b in tree]

In [29]:
right_binarize([1,2,3,4,5,6,7])

[1, [2, [3, [4, [5, [6, 7]]]]]]

### 2.3.7 Linked list

In [ ]:
four = [1,[2,[3,[4, 'empty']]]]

A linked list is a pair containing the first element of the sequence (in this case 1) and the rest of the sequence (in this case a representation of 2, 3, 4). The second element is also a linked list. The rest of the inner-most linked list containing only 4 is 'empty', a value that represents an empty linked list.

Linked lists have recursive structure: the rest of a linked list is a linked list or 'empty'. We can define an abstract data representation to validate, construct, and select the components of linked lists.

In [4]:
empty = 'empty'

def is_link(s):
    """s is a linked list if it is empty or it is a [first, rest] pair"""
    return s == empty or (len(s)==2 and is_link(s[1]))  #base case: s = [] or s = [first, empty]

def link(first, rest):
    """Construct a linked list from its first element and the rest."""
    assert is_link(rest), "rest must be a linked list."
    return [first, rest]

def first(s):
    """Return the first element of a linked list s."""
    assert is_link(s), "first only applies to linked lists."
    assert s != empty, "empty linked list has no first element."
    return s[0]

def rest(s):
    """Return the rest of the elements of a linked list s."""
    assert is_link(s), "rest only applies to linked lists."
    assert s != empty, "empty linked list has no rest."
    return s[1]

In [5]:
#We can use the constructor and selectors to manipulate linked lists.
four = link(1, link(2, link(3, link(4,empty))))

In [32]:
first(four)

1

In [33]:
rest(four)

[2, [3, [4, 'empty']]]

In [35]:
four[1]

[2, [3, [4, 'empty']]]

The linked list can store a sequence of values in order, but we have not yet shown that it satisfies the sequence abstraction. Using the abstract data representation we have defined, we can implement the two behaviors that characterize a sequence: length and element selection.

In [ ]:
def len_link(s):
    """return the length of linked list s"""
    length = 0
    while s != empty: # iterative method
        s, length = rest(s), length+1
    return length

def getitem_link(s, i):
    """return the element at index i of linked list s"""
    while i > 0:
        s, i = rest(s), i-1
    return first(s)

In [40]:
len_link(four)

4

In [ ]:
getitem_link(four,1)

2

In [7]:
# Recursive manipulation
def len_link_recursive(s):
    if s == empty:
        return 0
    else:
        return 1+len_link_recursive(rest(s))
def getitem_link_recursive(s, i):
    if i == 0:
        return s[0]
    else:
        return getitem_link_recursive(rest(s),i-1)

In [6]:
len_link_recursive(four)

4

In [11]:
getitem_link_recursive(four,1)

2

recursion is useful to for transforming and combining linked lists.

In [12]:
link(four,four)

[[1, [2, [3, [4, 'empty']]]], [1, [2, [3, [4, 'empty']]]]]

In [13]:
def extend_link(s,t):
    """return a list with s followed by t"""
    assert is_link(s) and is_link(t)
    if s == empty:
        return t
    else:
        return link(first(s), extend_link(rest(s), t))

In [14]:
extend_link(four,four)

[1, [2, [3, [4, [1, [2, [3, [4, 'empty']]]]]]]]

### Lab 4

#### Dictionary

In [ ]:
d = {2:4, 'two':['four'], (1,1):4}
len(d) # length of dictionary is # of key-value pairs(or named items)

3

In [2]:
d[2]

4

In [3]:
d['two']

['four']

In [4]:
d[(1,1)]

4

In [5]:
for k in d.keys():
    print(k)

2
two
(1, 1)

In [6]:
for v in d.values():
    print(v)

4
['four']
4

In [7]:
for i in d.items():
    print(i)

(2, 4)
('two', ['four'])
((1, 1), 4)

In [8]:
# check whether a dictionary contains a key using 'in'

'two' in d

True

In [9]:
4 in d

False

In [10]:
# dictionary comprehension

{3*x: 3*x+1 for x in range(2,5)}

{6: 7, 9: 10, 12: 13}

## 2.4 Mutable Data

we need strategies to help us structure large systems to be modular, meaning that they divide naturally into coherent parts that can be separately developed and maintained.

One powerful technique for creating modular programs is to incorporate data that may change state over time. In this way, a single data object can represent something that evolves independently of the rest of the program. The behavior of a changing object may be influenced by its history, just like an entity in the world. Adding state to data is a central ingredient of a paradigm called object-oriented programming.

### 2.4.1 The Object Metaphor

objects combine data values with behavior.

In [50]:
from datetime import date # A date is a kind of object

#the name 'date' is bound to a class.

tues = date(2014, 5, 13) # tues is constructed from primitive numbers, it behaves like a date
print( type( tues ) )
print(date(2025, 8, 21) - tues)

<class 'datetime.date'>
4118 days, 0:00:00

objects have attributes

`<expression>.<name>`

In [2]:
tues.year

2014

objects have methods, which are function-valued attributes.

In [3]:
tues.strftime('%A, %B %d')

'Tuesday, May 13'

In [5]:
# all values in Python are objects, like strings lists and numbers

'1234'.isnumeric()

True

### 2.4.2 sequence objects

In [ ]:
# list modification operations

chinese = ['coin', 'string', 'myriad'] # a list literal
suits = chinese                         # Two names refer to the same list
print(suits)


suits.pop()         # remove and return the final element
print(suits)

['coin', 'string', 'myriad']
['coin', 'string']

In [24]:
suits.remove('string') # remove the first element that equals the argument
print(suits)

['coin']

In [25]:
suits.append('cup') # add an element to the end
print(suits)

suits.extend(['sword', 'club']) # add all elements of a sequence to the end
print(suits)

suits[2] = 'spade' # replace an element
print(suits)

['coin', 'cup']
['coin', 'cup', 'sword', 'club']
['coin', 'cup', 'spade', 'club']

In [26]:
suits[0:2]

['coin', 'cup']

In [ ]:
suits[0:2] = ['heart', 'diamond'] # replace a slice
print(suits)

['heart', 'diamond', 'spade', 'club']

In [28]:
# methods also exist for inserting, sorting and reversing lists.
# all of these mutation operations change the value of the list but do not create new list objects.

sharing and identity

because we have changed a single list rather than creating new lists, the object bound to the name 'chinese' has also changed.

In [30]:
chinese

['heart', 'diamond', 'spade', 'club']

In [ ]:
a = [1,2,3,4]
b = a # they are bound to the same list

a.append(3)
b

[1, 2, 3, 4, 3]

In [37]:
suits = ['heart', 'diamond', 'spade', 'club']
nest = list(suits) # bind nest to a second list with the same elements
print(nest)
suits.append(3) # changes to one list do not affect another, unless they share structure
print(nest)

nest[0] = suits
print(nest)

suits.insert(2, 'joker') # insert an element at index 2, shifting the rest
nest

['heart', 'diamond', 'spade', 'club']
['heart', 'diamond', 'spade', 'club']
[['heart', 'diamond', 'spade', 'club', 3], 'diamond', 'spade', 'club']

[['heart', 'diamond', 'joker', 'spade', 'club', 3], 'diamond', 'spade', 'club']

because two lists may have the same contents but in fact be different lists, we require a means to test.

In [38]:
suits is nest[0]

True

In [ ]:
suits = ['heart', 'diamond', 'spade', 'club']
suits is ['heart', 'diamond', 'spade', 'club'] # identity

False

In [43]:
suits == ['heart', 'diamond', 'spade', 'club'] # equality

True

#### list comprehensions

In [ ]:
from unicodedata import lookup
[lookup('WHITE ' + s.upper() + ' SUIT') for s in suits] # list comprehension creates a new list. does not affect suits

['♡', '♢', '♤', '♧']

#### tuples

In [46]:
# immutable sequence
# created using a tuple literal that separates element by commas. parentheses are optional but commonly used.
1, 2+3

(1, 5)

In [47]:
("the", 1, ("and", "only"))

('the', 1, ('and', 'only'))

In [49]:
type( (10,20) )

tuple

In [ ]:
# empty and one-element tuples have special syntax
() # 0 element

()

In [ ]:
(10,) # 1 element

(10,)

In [53]:
# tuples have a finite length and support element selection. They also have a few methods.

code = ("up", "up", "down", "down") + ("left" , "right") * 2

In [54]:
len(code)

8

In [55]:
code[3]

'down'

In [56]:
code.count("down")

2

In [57]:
code.index("left")

4

However, the methods for manipulating the contents of a list are not available for tuples because tuples are immutable.

It's not possible to change which element are in a tuple, but it is possible to change the value of a mutable element contained in a tuple.

In [58]:
code

('up', 'up', 'down', 'down', 'left', 'right', 'left', 'right')

In [60]:
code.append("append")

AttributeError: 'tuple' object has no attribute 'append'

In [61]:
code[0] = 'down'

TypeError: 'tuple' object does not support item assignment

In [64]:
nest = (10, 20, [30, 40]) # a mutable element - list contained within a tuple
nest[2].pop()
nest

(10, 20, [30])

https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

The statement `t = 12345, 54321, 'hello!'` is an example of tuple packing: the values 12345, 54321 and 'hello!' are packed together in a tuple. The reverse operation is also possible:

In [ ]:
t = 12345, 54321, 'hello!'  

x,y,z = t  # sequence unpacking

print(x,y,z)

12345 54321 hello!

This is called, appropriately enough, sequence unpacking and works for any sequence on the right-hand side. Sequence unpacking requires that there are as many variables on the left side of the equals sign as there are elements in the sequence. Note that multiple assignment is really just a combination of tuple packing and sequence unpacking.

### 2.4.3 Dictionaries

In [66]:
# A dictionary contains key-value pairs, both the keys and values are objects.
# The purpose of dictionary: to provide an abstraction for storing and retrieving values that are indexed by descriptive keys.

numerals = {'I': 1, 'V': 5, 'X': 10}

In [67]:
numerals['X']

10

In [89]:
# Adding new key-value pairs and changing the existing value for a key can both be achieved with assignment statements.
numerals = {'I': 1, 'V': 5, 'X': 10}
print(numerals)

numerals['I'] = 1.0
numerals['L'] = 50 
numerals['IV'] = 4
numerals['II'] = 2
numerals

{'I': 1, 'V': 5, 'X': 10}

{'I': 1.0, 'V': 5, 'X': 10, 'L': 50, 'IV': 4, 'II': 2}

In [90]:
# dictionary supports various methods of iterating over the contents of the dictionary as a whole.

sum(numerals.values())

72.0

In [91]:
# A list of key-value pairs can be converted into a dictionary by calling `dict` constructor function
dict( [(3,9), (2,5), (1, 10)] )

{3: 9, 2: 5, 1: 10}

In [92]:
# the key of dictionary can't be or contain a mutable value
dic = {[10,20]: "test"}

TypeError: unhashable type: 'list'

In [94]:
# there can be at most one value for a given key
dic = {1:'hi', 1:'ny'}
dic[1]

'ny'

In [ ]:
# A useful method: get      
numerals.get('V', 'not exist') # if the key is present, returns the value for it

5

In [ ]:
numerals.get('A','not exist') # if the key is not present, returns the second parameter as default value.

'not exist'

In [99]:
# dictionary comprehension
{x:x**2 for x in range(3,6)}

{3: 9, 4: 16, 5: 25}

### 2.4.4 Local states

lists and dictionaries have local state.

functions can have local state.

In [105]:
def make_withdraw(balance):
    """return a withdraw function that draws down balance with each call"""
    def withdraw(amount):
        nonlocal balance # declare the 'balance' nonlocal
        if amount > balance:
            return 'insufficient funds'
        balance = balance - amount
        return balance
    return withdraw

balance = 100
withdraw = make_withdraw(balance)

balance = withdraw(20)
print(balance)

balance = withdraw(20)
print(balance)

80
60

In [ ]:
def make_withdraw(balance):
    """return a withdraw function that draws down balance with each call"""
    def withdraw(amount):
        #nonlocal balance # declare the 'balance' nonlocal
        if amount > balance:
            return 'insufficient funds'
        balance = balance - amount
        return balance
    return withdraw

balance = 100
withdraw = make_withdraw(balance)

balance = withdraw(20)
print(balance)

UnboundLocalError: cannot access local variable 'balance' where it is not associated with a value

In [ ]:
# benefit of non-local assignment
def make_withdraw(balance):
    """return a withdraw function that draws down balance with each call"""
    def withdraw(amount):
        nonlocal balance # declare the 'balance' nonlocal
        if amount > balance:
            return 'insufficient funds'
        balance = balance - amount
        return balance
    return withdraw

wd = make_withdraw(20)
wd2 = make_withdraw(7)
print(wd2(6))
print(wd(8)) # there are two frames and each withdraw function has a different parent.

1
12

In [ ]:
# identity and equality

wd = make_withdraw(10) # they are bound to two different frames
wd2 = make_withdraw(10)

print(wd(2))
print(wd2(2))

wd2 = wd
print(wd(2)) # now they are bound to the same function
print(wd2(2))

8
8
6
4

### 2.4.7 Implementing lists and dictionaries

To understand how a mutable list could be represented using functions with local state, we now develop an implementation of a mutable linked list.

In [124]:
empty = 'empty'

def is_link(s):
    """s is a linked list if it is empty or it is a [first, rest] pair"""
    return s == empty or (len(s)==2 and is_link(s[1]))  #base case: s = [] or s = [first, empty]

def link(first, rest):
    """Construct a linked list from its first element and the rest."""
    assert is_link(rest), "rest must be a linked list."
    return [first, rest]

def first(s):
    """Return the first element of a linked list s."""
    assert is_link(s), "first only applies to linked lists."
    assert s != empty, "empty linked list has no first element."
    return s[0]

def rest(s):
    """Return the rest of the elements of a linked list s."""
    assert is_link(s), "rest only applies to linked lists."
    assert s != empty, "empty linked list has no rest."
    return s[1]

def len_link(s):
    """return the length of linked list s"""
    length = 0
    while s != empty: # iterative method
        s, length = rest(s), length+1
    return length

def getitem_link(s, i):
    """return the element at index i of linked list s"""
    while i > 0:
        s, i = rest(s), i-1
    return first(s)

def join_link(s, separator):
    """Return a string of all elements in s separated by separator."""
    if s == empty:
        return ""
    elif rest(s) == empty:
        return str(first(s))
    else:
        return str(first(s)) + separator + join_link(rest(s), separator)

In [ ]:
def mutable_link():
    """return a functional implementation of a mutable linked list"""
    contents = empty

    def dispatch(message, value = None):
        nonlocal contents
        if message == 'len':
            return len_link(contents)
        elif message == 'getitem':
            return getitem_link(contents, value)
        elif message == 'push_first':
            contents = link(value, contents)
        elif message == 'pop_first':
            f = first(contents)
            contents = rest(contents)
            return f
        elif message == 'str':
            return join_link(contents, ", ")
    return dispatch

def to_mutable_link(source):
    """return a functional list with the same contents as source"""

    s = mutable_link()
    for element in reversed(source):
        s('push_first', element)
    return s

suits = ['heart', 'diamond', 'spade', 'club']
s = to_mutable_link(suits)

type(s)

function

In [129]:
print(s('str'))

heart, diamond, spade, club

In [130]:
s('pop_first')

'heart'

## 2.5 OOP

The paradigm of object-oriented programming has its own vocabulary that supports the object metaphor. We have seen that an object is a data value that has methods and attributes, accessible via dot notation. Every object also has a type, called its class. To create new types of data, we implement new classes.

### 2.5.1 Objects and classes

A class serves as a template for all objects whose type is that class. Every object is an instance of some particular class. The objects we have used so far all have built-in classes, but new user-defined classes can be created as well. A class definition specifies the attributes and methods shared among objects of that class. We will introduce the class statement by revisiting the example of a bank account.