In [15]:
s = [6 ,7, 8]
print(s.append(6)) # change s, then return None

None

In [16]:
s

[6, 7, 8, 6]

In [ ]:
s.insert(0, 9) # insert(i, x), then return None

In [18]:
s

[9, 6, 7, 8, 6]

In [ ]:
x = s.pop(1) # .pop(i= -1), change s, then return that value

In [20]:
x

6

In [21]:
s

[9, 7, 8, 6]

In [ ]:
s.remove(x) # remove the first x in s, then return none

In [23]:
s

[9, 7, 8]

In [24]:
a, b = s, s[:] # slice will make a copy list, different from s
# a and s point to the same list now

In [29]:
print(a)
print(s)

[9, 7, 8]
[9, 7, 8]

In [ ]:
a.pop() # a and s point to the same list
print(a)
print(s)

[9, 7]
[9, 7]

In [ ]:
s = [3, 4, 5]
s.extend( [ s.append(9), s.append(10)]) 
#          (  append 9 then return None   append 10 then return None )   s.extend(None, None)

In [11]:
s

[3, 4, 5, 9, 10, None, None]

In [35]:
def insert_items(s, before, after):
    """Insert after into s after each occurrence of before and then return s.

    >>> test_s = [1, 5, 8, 5, 2, 3]
    >>> new_s = insert_items(test_s, 5, 7)
    >>> new_s
    [1, 5, 7, 8, 5, 7, 2, 3]
    >>> test_s
    [1, 5, 7, 8, 5, 7, 2, 3]
    >>> new_s is test_s
    True
    >>> double_s = [1, 2, 1, 2, 3, 3]
    >>> double_s = insert_items(double_s, 3, 4)
    >>> double_s
    [1, 2, 1, 2, 3, 4, 3, 4]
    >>> large_s = [1, 4, 8]
    >>> large_s2 = insert_items(large_s, 4, 4)
    >>> large_s2
    [1, 4, 4, 8]
    >>> large_s3 = insert_items(large_s2, 4, 6)
    >>> large_s3
    [1, 4, 6, 4, 6, 8]
    >>> large_s3 is large_s
    True
    """
    "*** YOUR CODE HERE ***"
    i = 0
    while i < len(s):
        if s[i] == before:
            s.insert(i+1, after) # modify s, not creating a new list
            i += 2
        else:
            i += 1
    return s

test_s = [1, 5, 8, 5, 2, 3]
new_s = insert_items(test_s, 5, 5)
new_s

[1, 5, 5, 8, 5, 5, 2, 3]

In [37]:
def group_by(s, fn):
    """Return a dictionary of lists that together contain the elements of s.
    The key for each list is the value that fn returns when called on any of the
    values of that list.

    >>> group_by([12, 23, 14, 45], lambda p: p // 10)
    {1: [12, 14], 2: [23], 4: [45]}
    >>> group_by(range(-3, 4), lambda x: x * x)
    {9: [-3, 3], 4: [-2, 2], 1: [-1, 1], 0: [0]}
    """
    grouped = {}
    for i in range(len(s)):
        key = fn(s[i])
        if key in grouped:
            grouped[key].append(s[i])
        else:
            grouped[key] = [s[i]]
    return grouped

group_by([12, 23, 14, 45], lambda p: p // 10)

{1: [12, 14], 2: [23], 4: [45]}

In [38]:
s = [1, 2, 3, 4]
t = iter(s)
next(s)

TypeError: 'list' object is not an iterator

In [39]:
r = range(6)
r_iter = iter(r)
next(r_iter)

0

In [40]:
[x+1 for x in r]

[1, 2, 3, 4, 5, 6]

In [41]:
[x+1 for x in r_iter]

[2, 3, 4, 5, 6]

In [42]:
next(r_iter)

StopIteration:

In [ ]:
map_iter = map(lambda x : x + 10, range(5)) # iterator 
next(map_iter) # the pointer will move forward,
list(map_iter) # use all remaining elements, after that map_iter will be empty

[11, 12, 13, 14]

In [45]:
list(map_iter)

[]

In [46]:
[x + y for x, y in zip([1, 2, 3], [4, 5, 6])]

[5, 7, 9]

In [52]:
def count_occurrences(t, n, x):
    """Return the number of times that x is equal to one of the
    first n elements of iterator t.

    >>> s = iter([10, 9, 10, 9, 9, 10, 8, 8, 8, 7])
    >>> count_occurrences(s, 10, 9)
    3
    >>> t = iter([10, 9, 10, 9, 9, 10, 8, 8, 8, 7])
    >>> count_occurrences(t, 3, 10)
    2
    >>> u = iter([3, 2, 2, 2, 1, 2, 1, 4, 4, 5, 5, 5])
    >>> count_occurrences(u, 1, 3)  # Only iterate over 3
    1
    >>> count_occurrences(u, 3, 2)  # Only iterate over 2, 2, 2
    3
    >>> list(u)                     # Ensure that the iterator has advanced the right amount
    [1, 2, 1, 4, 4, 5, 5, 5]
    >>> v = iter([4, 1, 6, 6, 7, 7, 6, 6, 2, 2, 2, 5])
    >>> count_occurrences(v, 6, 6)
    2
    """
    "*** YOUR CODE HERE ***"
    # assume t has at least n elements
    count = 0
    while n > 0:
        if next(t) == x:
            count += 1
        n -= 1
    return count

s = iter([10, 9, 10, 9, 9, 10, 8, 8, 8, 7])
count_occurrences(s, 10, 9)
t = iter([10, 9, 10, 9, 9, 10, 8, 8, 8, 7])
count_occurrences(t, 3, 10)

u = iter([3, 2, 2, 2, 1, 2, 1, 4, 4, 5, 5, 5])
count_occurrences(u, 1, 3)
count_occurrences(u, 3, 2) 
list(u)

[1, 2, 1, 4, 4, 5, 5, 5]

In [54]:
def repeated(t, k):
    """Return the first value in iterator t that appears k times in a row,
    calling next on t as few times as possible.

    >>> s = iter([10, 9, 10, 9, 9, 10, 8, 8, 8, 7])
    >>> repeated(s, 2)
    9
    >>> t = iter([10, 9, 10, 9, 9, 10, 8, 8, 8, 7])
    >>> repeated(t, 3)
    8
    >>> u = iter([3, 2, 2, 2, 1, 2, 1, 4, 4, 5, 5, 5])
    >>> repeated(u, 3)
    2
    >>> repeated(u, 3)
    5
    >>> v = iter([4, 1, 6, 6, 7, 7, 8, 8, 2, 2, 2, 5])
    >>> repeated(v, 3)
    2
    """
    assert k > 1
    "*** YOUR CODE HERE ***"
    tmp = next(t)
    nexttmp = next(t)

    while True:
        if tmp == nexttmp:
            return nexttmp
        else:
            tmp = nexttmp
            nexttmp = next(t)

s = iter([10, 9, 10, 9, 9, 10, 8, 8, 8, 7])
repeated(s, 2)

u = iter([3, 2, 2, 2, 1, 2, 1, 4, 4, 5, 5, 5])
repeated(u, 3)

2